pudb
torchsummary
line-profiler
pynvim
neovim
jedi
sphinx
sphinx_rtd_theme
torch==1.10.1
torchvision==0.11.2
easydict
jupyterlab
ipykernel
matplotlib
opencv-python
seaborn
h5py
tqdm
pillow
fastprogress
joblib
rainbow_logging_handler
gdown
pep8
flake8
autopep8
ipywidgets
easydict
sklearn
wordcloud
transformers
adabelief-pytorch